body {
    background-color: white;
    margin: 0px;
    padding: 0px
}

header{
    text-align: center;
}
h1{
    color: black;
    font-size: 32pt;
}
h2{
    color: black;
    font-size: 24pt;
    text-align: center;
}
table{
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
    margin-left: auto; 
    margin-right: auto;
}
th{
    border: 2px solid black;
    border-collapse: collapse;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 18pt;
    height: 48px;
    width: 180px;
}

tr{
    background-color: white;
    border: 2px solid black;
}
/* tr:nth-child(even) {
    background-color: lightgray;
    border: 2px solid black;
} */
td{
    border: 2px solid black;
    border-collapse: collapse;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 18pt;
    height: 48px;
    width: 180px;
}
.employee-form{
    display: flexbox;
    align-items: center;
}
input{
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 18pt;
    height: 48px;
    width: 180px;
}